<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/todolist/html/todolist_style.css">
    <title>Todolist</title>
</head>
<body>
    <div id="color-for-back-ground">
        <div></div>
        <div></div>
    </div>
    <header>
        <div id="logo">Better plan Better work</div>
        <div id="tittle-name">
            <span>Xin chào</span>
            <span id = 'tittle'> <%- messages %></span>
        </div>
    </header>
    <a href="/todolist/logout" id="logout">OUT</a>
    <section id="section-nav-bar">
        <div id="nav-bar">
            <div> 
                <img id="company-show-btn"
                src="/static/todolist/html/arrow.svg"
                alt="press to show more"
                height="20px"
                width="15px" />
                <p>Your company</p>
                <div id="Companies_List" class="my-company-display">
                   
                    <ul id="company-list">
                    </ul>
                    <button>Tạo</button>
                </div>
            </div>
            <div>
                <img id="company-show-btn-2"
                src="/static/todolist/html/arrow.svg"
                alt="press to show more"
                height="20px"
                width="15px" />
                <p>Companies joined</p>
                <div id="Companies_Joined_List" class="my-company-display">
                <ul id="company-joined">
                    <li>113213</li>
                </ul>
                </div>
            </div>
            <div>List task</div>
            <div>
                <p>Company Task</p>
            </div>
        </div>
    </section>
    <section id="todotask">
        <div>
            <form id="submit-task">
                <input type="text" id="task_submit_content" name="task_content" placeholder="....">
                <button type="submit" id="submit">send</button>
            
            </form>
            <div id="list-task">
            </div>
        </div>
    </section>
  
    <div id="chatbox"></div>
    <script src="/static/todolist/javascript/activeainmation.js"></script>
    <script src="/static/todolist/javascript/Gettask.js"></script>
    <script src="/todolist/javascript/UpdateCompanyList.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
    </script>
</body>
</html>