input {border:0;outline:0;}
input:focus {outline:none!important;}
button {
    padding: 0;
    border: none;
    background: none;
}
textarea#story {
    -moz-appearance:none;
    outline:0px none transparent;
  }
  
textarea:focus, input:focus{
      outline: 0;
}
#todotask {
    width: 68vw;
    margin-top: 140px;
    position: relative;
    left: calc(50% + 150px);
    transform: translateX(-50%);
    overflow: hidden;

}
#list-task > div {
    padding: 10px;
    width: 100%;
    /* outline: black 1px solid; */
    background-color: rgba(145, 145, 145,0.1);
    background: blur(10%);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: rgb(107, 107, 107);
}
#todotask > div > #submit-task {
    width: 100%;
    margin-bottom: 40px;
    position: relative;
    
}
#submit-task-box {
    color: rgb(107, 107, 107);
    font-family: 'Roboto', sans-serif;
    background: rgba(124, 196, 124,0.2);
    position: absolute;
    top: 0px;
    right: 5px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    transition: background-color, color 1s ease;
}
#submit-task-box:hover {
    color: rgb(73, 56, 56);
    background: rgba(29, 209, 29, 1);
}
#list-task > div {
    margin-top: 10px;
}
#list-task > div > div:nth-child(2) {
    display: flex;
    font-size: 9px;
    color: rgb(151, 89, 89);
}
#list-task > div > div:nth-child(2) > div {
    margin-left: 5px;
}
.task-content {
    position: relative;
}
.task-content > p {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: pre-wrap;
}
.task-isDone {
    position: absolute;
    top: 0px;
    right: 0px;
}
#task-box {
    white-space: pre-wrap;
    resize: none;
    border-radius: 5px;
    padding: 6px;
    font-family: 'Roboto', sans-serif;
    color: rgb(107, 107, 107);
    width: 800px;
    border: none;
    background-color: rgba(211, 210, 210,0.1);
    transition: background-color 0.3s ease;
}
#task-box:focus {
  
    background-color: rgba(255, 255, 255, 0.8);
}
/* make btn */

.task-isDone {
    display: flex;
}
.task-isDone > div {
    margin-right: 10px;
    padding: 5px;
    transition: add 1s ease;
    border-radius: 3px;
}
.task-isDone > div:nth-child(1) {
    background-color: rgba(252, 1, 1, 0.1);
}
/* checking btn button in task */

