<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <title>Login</title>
</head>
<body>
    <header>
        <!-- set the header -->
        <img  id="fristsvg" src="fristsvg.svg" alt="">
        <div>
            <div>
                <span><span class="header-tittle">B</span>etter</span>
                <span><span class="header-tittle">P</span>lan</span>
            </div>
            <div>
                <span><span class="header-tittle">B</span>etter</span>
                <span><span class="header-tittle">W</span>ork</span>
            </div>
            <div>
                <a href="#login-section" class="btn" id="login-btn">Đăng nhập</a>
            </div>
          
        </div>
    </header>
    <section id="login-section">
        <div>
            <div class="login_slide_bar">
                <div id="login_bar">
                    <div class="tittle"><span>Đăng nhập</span></div>
                    <form class="form-login form_control" action ="/users/login">
                        <div class="form-group">
                            <label for="user">Tài Khoản</label>
                            <input type="text" name="user" placeholder="Tài khoản">
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu</label>
                            <input type="password" name="password" placeholder="Mật khẩu">
                        </div>
                        <div>
                            <input id="send-login" type="submit" value="Đăng nhập">
                        </div>
                    </form>
                    <div>
                       
                        <span class="btn_form" id="register_btn">Đăng kí</span>
                        <span class="suggest"> -> Nếu không có tài khoản</span>
                    </div>
                </div>
                <div id="register_bar">
                    <div class="tittle"><span>Đăng Kí</span></div>
                    <form class="form-register form_control" action="/users/register">
                            <div class="form-group">
                                <label for="user">Tài Khoản</label>
                                <input type="text" name="user" placeholder="Tài khoản">
                            </div>
                            <div class="form-group">
                                <label for="password">Mật khẩu</label>
                                <input type="password" name="password" placeholder="Mật khẩu">
                            </div>
                            <div class="form-group">
                                <label for="password2" id="xnmk" >Xác nhận mật khẩu</label>
                                <input type="password" name="password2" placeholder="Xác nhận mật khẩu" >
                            </div>
                            <div>
                                <input id="send-register" type="submit" value="Đăng kí">
                            </div>
                    </form>
                    <div>
                        
                        <span class="btn_form" id="login_btn">Đăng nhập</span>
                        <span  class="suggest"> -> Nếu đã có tài khoản</span>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
  <script src="animation-login.js"></script>
</body>
</html>